DATABASE_URL=

SESSION_SECRET=please_change_this_to_a_secure_random_string_with_at_least_32_characters

# Like: CF_CONNECTING_IP
X_FORWARDED_FOR=

# Observability
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME="[ReactTemplate]"
OTEL_EXPORTER_OTLP_INSECURE=true
