# APP Identity
VITE_APP_IDENTITY=dev.bingzi.react-template
VITE_APP_VERSION=1.0.0

DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=forExampleAuthSecretMin32CharacetersRequired
BETTER_AUTH_URL=http://localhost:3000

# Sentry
VITE_SENTRY_DSN=https://5aa363d57c8b859dc05bd4585f9fceec@o4509318909722624.ingest.us.sentry.io/4509807029321728
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=

# Like: CF_CONNECTING_IP
X_FORWARDED_FOR=